{{define "dashboard"}}
<!DOCTYPE html>
<html lang="en">
{{$x := .}}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/public/css/dashboard.css">
    <link rel="stylesheet" href="/public/css/global.css">
    <title>GO-RPG</title>
</head>

<body>
    {{template "_nav"}}
    <div class="wrapper">
        <div class="container">
            <h1>Bem vindo senhor {{.Name}} !</h1>
            <br/>
            <p>
                Infelizmente, nosso sistema ainda está em construção
                <br/> Mas em breve você poderá desfrutar de tudo!
            </p>
        </div>
    </div>
</body>
<script>
    setNavData({
        displayName: '{{$x.Name}}',
        email: '{{$x.Email}}'
    })
</script>

</html>
{{end}}